In [4]:
import pandas as pd
import pandera as pa
from pandera import Column, DataFrameSchema, Check, Index
from pandera.dtypes import DateTime

df = pd.read_csv("./nces330_20.csv")
df.head()

   Year    State             Type  Length       Expense  Value
0  2013  Alabama          Private  4-year  Fees/Tuition  13983
1  2013  Alabama          Private  4-year    Room/Board   8503
2  2013  Alabama  Public In-State  2-year  Fees/Tuition   4048
3  2013  Alabama  Public In-State  4-year  Fees/Tuition   8073
4  2013  Alabama  Public In-State  4-year    Room/Board   8473